/* MEDIA QUERIES */

@media screen and (min-width: 270px) and (max-width: 400px){

  .navbar{
    background-color: transparent;
  }

  .menu-page{
  width: 120px;
  left: 61%;
  }

  .homepage .right{
    margin-right: 5px;
  }

  .portfolio h3 {
    display: none;
  }

  .right h1{
    font-size: 3em;
    line-height: 35px;
  }

  .line-vertical{
  height: 135vh;
  }

  .line-vertical-two{
  height: 135vh;
  }

  .right-about .text .intro{
    padding-bottom: 20px;
  }

  .about-signet{
    width: 40px;
  }

  .right-about{
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .right-about img{
    width: 250px;
    height: 250px;
  }

  .right-about .text{
    flex-direction: row;
    margin-top: 60px;
    padding: 20px;
  }

  .right-about .story{
    margin-top: 60px;
  }

  .right-about .text p{
    width: auto;
  }

  .right-about .text .story p{
    font-size: .8em;
    text-align: start;
  }

  .right-about .text .intro{
    text-align: center;
  }

  .languages{
    height: auto;
  }

  .contact-name{
    margin-top: 80px;
    margin-bottom: 5px;
  }

  .contact-title{
    width: 40px;
    margin-bottom: 5px;
  }

  .contact-subject{
    margin-bottom: 5px;
  }

  .footer-container{
    padding:  20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .socials-icons{
    display: flex;
    justify-content: center;
  }

  .socials h3{
    padding-top: 10px;
  }

  .socials-icons .github{
    padding-right: 10px;
  }

  .contact-footer h3{
    padding-top: 10px;
  }

  .pages-footer{
    width: 200px;
  }

  .pages-footer h3{
    padding-top: 10px;
  }

  .footer-time #datetime{
    display: none;
  }

  .footer-copyright p{
    text-align: end;
  }
}

@media screen and (min-width: 270px) and (max-width:  400px) and (max-height:  750){
  .right-about .text .story{
    display: none;
  }
}

@media screen and (min-width: 401px) and (max-width: 700px){

  .menu-page{
    width: 120px;
    left: 70%;
  }

  .navbar{
    background-color: transparent;
  }

  .portfolio h3 {
    display: none;
  }

  .right h1{
    font-size: 3em;
    line-height: 35px;
  }

  .line-vertical{
  height: 126vh;
  }

  .line-vertical-two{
  height: 126vh;
  }

  .right-about .text .intro{
    padding-bottom: 20px;
  }

  .about-signet{
    width: 50px;
  }

  .right-about{
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .right-about img{
    width: 350px;
    height: 350px;
  }

  .right-about .text{
    flex-direction: row;
    margin-top: 60px;
    padding: 20px;
  }

  .right-about .story{
    margin-top: 60px;
  }

  .right-about .text p{
    width: auto;
  }

  .right-about .text .story p{
    font-size: .8em;
  }

  .right-about .text .intro{
    text-align: center;
  }

  .languages{
    height: auto;
  }

  .languages-content{
    flex-direction: row;
  }

  .contact-name{
    margin-top: 80px;
    margin-bottom: 5px;
  }

  .contact-title{
    width: 50px;
    margin-bottom: 5px;
  }

  .contact-subject{
    margin-bottom: 5px;
  }

  .footer-container{
    padding:  20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    text-align: start;
  }

  .footer-info{
    margin-right: 20px;
  }

  .socials{
    margin-right: 20px;
  }

  .contact-footer{
    margin-right: 20px;
  }

  .socials-icons{
    display: flex;
    justify-content: center;
  }

  .socials h3{
    padding-top: 10px;
  }

  .socials-icons .github{
    padding-right: 10px;
  }

  .contact-footer h3{
    padding-top: 10px;
  }

  .pages-footer h3{
    padding-top: 10px;
  }

  .footer-time #datetime{
    display: none;
  }

  .footer-copyright p{
    text-align: end;
  }
}

@media screen and (min-width: 701px) and (max-width: 1350px){
  .right h1{
    font-size: 7em;
    line-height: 80px;
  }

  .homepage{
    padding-top: 68px;
    margin-right: 20px;
  }

  .line-vertical{
  height: 144vh;
  }

  .line-vertical-two{
  height: 144vh;
  }

  .right-about .text .intro{
    padding-bottom: 20px;
  }

  .right-about{
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .right-about img{
    width: 500px;
    height: 500px;
  }

  .right-about .text{
    flex-direction: row;
    margin-top: 60px;
    padding: 22px;
  }

  .right-about .story{
    margin-top: 60px;
  }

  .right-about .text p{
    width: auto;
  }

  .right-about .text .intro{
    padding-bottom: 20px;
  }

  .right-about .text .story p{
    font-size: .9em;
  }

  .languages{
    height: auto;
  }

  .languages-content{
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0;
  }

  .contact-name{
    margin-top: 80px;
    margin-bottom: 5px;
  }

  .contact-title{
    margin-bottom: 5px;
  }

  .contact-subject{
    margin-bottom: 5px;
  }

  .footer-container{
    padding:  20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    text-align: start;
  }

  .socials-icons{
    display: flex;
    justify-content: center;
  }

  .socials-icons .github{
    padding-right: 10px;
  }
}

@media screen and (min-width: 1151px) and (max-width: 1350px){
  .right-about img {
    width: 700px;
    height: 700px;
  }

  .right-about .text .antoine {
    font-size: .8em;
  }

  .text .story p {
    font-size: 1.2em;
  }

  .languages-content{
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0;
  }

  .language{
  margin: 40px;
  }
  
  .about{
    height: auto;
  }

  .line-vertical{
  height: 147vh;
  }

  .line-vertical-two{
  height: 147vh;
  }

  .right-about .text .intro{
    padding-bottom: 20px;
  }

  .right-about{
    flex-direction: column;
    padding: 0;
  }
  
  .contact-name{
    margin-top: 60px;
  }
}

@media screen and (min-width: 1350px){
  .languages-content{
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0;
  }

  .language{
  margin: 60px;
  }

}

.negative ul{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.neg-w{
  background-color: white;
  width: 100%;
}

.neg-b{
  background-color: #0e1012;
  color: white;
  width: 100%;
}