
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

body{
  background-color: #0e1012;
  color: #fff;
}

/* CURSOR DESIGN AND ANIMATION */
svg{
  width: 60px;
  position: absolute;
  animation: rotation 5s infinite linear;
  pointer-events: none;
  transition: top .3s, left .3s;
  transition-timing-function: ease-out;
  z-index: 1000;
}

@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(-359deg);
  }
}

text{
  font-size: 4em;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  fill: #b74946;
}

/* END OF CURSOR DESIGN AND ANIMATION */

/* NAVBAR DESIGN */
nav{
  width: 100%;
  position: fixed;
  z-index: 100;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #0e1012;
}

.navbar a{
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}

.line-horizontal{
  width: 100%;
  background-color: #fff;
  height: 1px;
}

.menu{
  padding: 10px;
  cursor: pointer;
}

.hamburger-line{
  width: 20px;
  height: 1px;
  background-color: #fff;
}

.hamburger-line:nth-child(1){
  margin-bottom: 5px;
}

.hamburger-line:nth-child(2){
  margin-bottom: 5px;
}

.menu-page{
  z-index: 100;
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  text-align: end;
  width: 15%;
  height: auto;
  border: 1px solid #fff;
  position: fixed;
  left:85%;
  top: 68px;
  background-color: #0e1012; 
  display: none;
}

.visible-menu{
  display: flex;
}

.openmenu #hidden{
    display: none;

}
.openmenu #lineUp{
  transform: rotate(45deg);
  margin:0;
  position: absolute;

}

.openmenu #lineDown{
  transform: rotate(-45deg);
}

.menu-page a{
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 5px;
  font-weight: 300;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

.menu-page a:hover{
  background-color: #fff;
  color: #0e1012;
}

/* END OF NAVBAR DESIGN */

.container{
/*  scroll-snap-type: y mandatory;
  overflow-y: scroll;*/
  height: 100vh;
  width: 100vw;
}

/*section{
  width: 100vw;
  height: 100vh;
  /*scroll-snap-align: start;*/
/*}*/

/* DESIGN HOMEPAGE */

.homepage{
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100vw !important ;
  margin-right: 10px;
}

.left{
  display: flex;
  justify-content: space-between;
}

.homepage .line-vertical{
  height: 100vh;
  width: 1px;
  background-color: white;
}

.line-vertical{
  height: 120vh;
  width: 1px;
  background-color: white;
}

.right{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.right h1{
  font-weight: 700;
  font-size: 8em;
  line-height:90px;
  text-align: right;
}

.right span{
  padding-top: 5px;
}

.right h1:hover{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
}

/* END OF DESIGN HOMEPAGE */

/* DESIGN ABOUT PAGE */


.horizontal-scroll{
  display: flex;
  width: 200vw;
  height: auto;
}

.about{
  display: flex;
  width: 100vw;
  height: auto;
  padding: 0;
  justify-content: space-between;
}

.left-about{  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-signet{
  width: 80px;
}

.about .about-signet h3{
  transform: rotate(-90deg);
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 10px;
}

.line-vertical-two{
  height: 120vh;
  width: 1px;
  background-color: white;
}

.right-about{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95vw;
  padding: 60px;
  overflow: hidden;
}

.right-about .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 60px;
  text-align: justify;
  overflow:hidden;
  
}

.right-about .text h3{
  padding-bottom: 20px;
}

.right-about .text p{
  width: 50%;
  font-size: .9em;
 /* padding: 20px;*/
}

.right-about .text .antoine{
  font-size: .7em;
}

.right-about .text .intro{
  padding-bottom: 60px;
}



.right-about .text .story{
  display: flex;
  justify-content: flex-end;
}

/* END OF DESIGN ABOUT PAGE */

/* DESIGN LANGUAGES PAGE */
.pin-spacer {
  width: auto !important;
}

.vertical-scroll{
  width: 100vw;
  overflow: hidden;
}

.languages{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-weight: 300;
  overflow: hidden;
}

.title{
  position: relative;
  left: -500px;
  padding: 10px;
}

.title h3{
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 10px;
}

.languages-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
}

.language{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 250px;
  border: 1px solid #fff;
  margin: 20px;
  overflow: hidden;
  cursor: pointer;
}

.language p{
  text-align: center;
  padding: 10px;
}

.negative{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: -250px;
  width: 200px;
  height: 250px;
  background-color: #fff;
  color: #0e1012;
  overflow: scroll;
  z-index: 3;
  border: 1px solid #0e1012;
}

.negative li{
  text-align: center;
  list-style: none;
}

/* END OF DESIGN LANGUAGES PAGE */

/* DESIGN CONTACT PAGE */

.contact{
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}

.left-contact{
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  text-align: center;
}

.right-contact{
  display: flex;
  justify-content: flex-end;
}

.contact-title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}

.right-contact h3{
  transform: rotate(90deg);
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 10px;
}

.contact-name{
  margin-top: 80px;
  margin-bottom: 10px;
}

.contact-name h3{
  font-weight: 300;
  padding-bottom: 10px;
}

.contact-email{
  margin-bottom: 10px;  
}

.contact-email h3{
  font-weight: 300;
  padding-bottom: 10px;
}

.contact-subject{
  margin-bottom: 10px;
}

.contact-subject h3{
  font-weight: 300;
  padding-bottom: 10px;
}

input{
  height: 5vh;
  border: 1px solid #fff;
  background-color: #0e1012;
  color: white;
  padding: 10px;
}

textarea{
  width: 80vw;
  height: 40vh;
  border: 1px solid #fff;
  background-color: #0e1012;
  color: #fff;
  padding: 10px;
}

button{
  font-weight: 700;
  font-size: 1.3em;
  border: 1px solid #fff;
  background-color: #0e1012;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

button:hover{
  background-color: #fff;
  color: #0e1012;
}

.popup{
  z-index: 99;
  border: 1px solid #fff;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #0e0f12;
  padding: 50px;
  visibility: hidden;
  text-align: center;
}

.popup p{
  font-weight: 300;
  font-size: 1.2em;
}

/* END OF DESIGN CONTACT PAGE */

/* DESIGN FOOTER */

.footer-container{
  padding:  20px 160px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #2d2f35;
  width: 100vw;
  font-weight: 300;
  line-height: 30px;
}

footer h3{
  font-weight: 500;
}

.socials{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-info p{
  line-height: 10px;
  font-size: 0.6em;
}

.contact-footer{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pages-footer{
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.pages-items{
  font-size: 0.8em;
  font-weight: 300;
  display: flex;
}

.footer-num{
  font-size: .7em;
  padding-right: 25px;
}

.footer-nb{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  font-size: .6em;
  background-color: #2d2e36;
  padding: 20px;
}

.footer-time{
  display: flex;
  align-items: center;
}

.footer-time p{
  padding-left: 10px;
}

/*END OF DESIGN FOOTER*/


