
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

body{
  background-color: #0e1012;
  color: #fff;
}

/* CURSOR DESIGN AND ANIMATION */
svg{
  width: 60px;
  position: absolute;
  animation: rotation 5s infinite linear;
  pointer-events: none;
  transition: top .3s, left .3s;
  transition-timing-function: ease-out;
  z-index: 1000;
}

@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(-359deg);
  }
}

text{
  font-size: 4em;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  fill: #b74946;
}

/* END OF CURSOR DESIGN AND ANIMATION */

/* NAVBAR DESIGN */
nav{
  width: 100%;

}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navbar a{
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}

.line-horizontal{
  width: 100%;
  background-color: #fff;
  height: 1px;
}

/* END OF NAVBAR DESIGN */

.container{
  /*scroll-snap-type: y mandatory;
  overflow-y: scroll;*/
  height: 100vh;
  width: 100vw;
}

section{
  width: 100vw;
  height: 100vh;
  /*scroll-snap-align: start;*/

}

/* DESIGN HOMEPAGE */

.homepage{
  display: flex;
  height: 93vh;
  overflow: hidden;
}

.left{
  /*width: 25%;*/
  display: flex;
  justify-content: space-between;
}

.line-vertical{
  height: 100vh;
  width: 1px;
  background-color: white;
}


.empty{
  /*width: 25%;*/
}

.right{
  /*width: 75%;*/
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.right h1{
  font-weight: 700;
  font-size: 8em;
  line-height:90px;
  text-align: right;
}

.right span{
  padding-top: 5px;
}

.right h1:hover{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
}

/* END OF DESIGN HOMEPAGE */

/* DESIGN ABOUT PAGE */

.about{
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-about{  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-signet{
  width: 80px;
}

.about .about-signet h3{
  transform: rotate(-90deg);
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 10px;
}

.line-vertical-two{
  height: 100vh;
  width: 1px;
  background-color: white;
}

.right-about{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95vw;
  padding: 60px;
  overflow: hidden;
}

.right-about .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 60px;
  text-align: justify;
  overflow:hidden;
  
}

.right-about .text h3{
  padding-bottom: 20px;
}

.right-about .text p{
  width: 50%;
 /* padding: 20px;*/
}

.right-about .text .antoine{
  font-size: .6em;
}

.right-about .text .intro{
  padding-bottom: 60px;
}



.right-about .text .story{
  display: flex;
  justify-content: flex-end;
}

/* END OF DESIGN ABOUT PAGE */

/* DESIGN LANGUAGES PAGE */

.languages{
  height: auto;
  font-weight: 300;
  overflow: hidden;
}

.title{
  position: relative;
  left: -500px;
  padding: 10px;
}

.title h3{
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 10px;
}

.languages-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
}

.language{
  position: relative;
  width: 200px;
  height: 250px;
  border: 1px solid #fff;
  margin: 20px;
  overflow: hidden;
  cursor: pointer;
}

.language p{
  text-align: center;
  padding: 10px;
}

.negative{
  position: absolute;
  bottom: -250px;
  width: 200px;
  height: 250px;
  background-color: #fff;
  color: #0e1012;
  overflow: scroll;
  z-index: 3;
  /*visibility: hidden;*/
}

/* END OF DESIGN LANGUAGES PAGE */

/* DESIGN CONTACT PAGE */

.contact{
  display: flex;
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.left-contact{
  width: 100vw;
  text-align: center;
}

.right-contact{
  display: flex;
  justify-content: flex-end;
}

.contact-title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}

.right-contact h3{
  transform: rotate(90deg);
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 10px;
}

.contact-name{
  margin-top: 100px;
  margin-bottom: 20px;
}

.contact-name h3{
  font-weight: 300;
  padding-bottom: 10px;
}

.contact-email{
  margin-bottom: 20px;  
}

.contact-email h3{
  font-weight: 300;
  padding-bottom: 10px;
}

.contact-subject{
  margin-bottom: 20px;
}

.contact-subject h3{
  font-weight: 300;
  padding-bottom: 10px;
}

input{
  height: 5vh;
  border: 1px solid #fff;
  background-color: #0e1012;
  color: white;
  padding: 10px;
}

textarea{
  width: 80vw;
  height: 40vh;
  border: 1px solid #fff;
  background-color: #0e1012;
  color: #fff;
  padding: 10px;
}

button{
  font-weight: 700;
  font-size: 1.3em;
  border: 1px solid #fff;
  background-color: #0e1012;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

button:hover{
  background-color: #fff;
  color: #0e1012;
}

/* END OF DESIGN CONTACT PAGE */


/* MEDIA QUERIES */

@media screen and (min-width: 270px) and (max-width: 400px){

  .homepage{
    height: auto;
  }

  .portfolio h3 {
    display: none;
  }

  .right h1{
    font-size: 3em;
    line-height: 35px;
  }

  .about-signet{
    width: 35px;
  }

  .right-about{
    flex-direction: column;
    padding: 0;
  }

  .right-about img{
    width: 250px;
    height: 250px;
  }

  .right-about .text{
    flex-direction: row;
    padding: 20px;
  }

  .right-about .text p{
    width: auto;
  }

  .right-about .text .story p{
    font-size: .8em;
  }

  .right-about .text .intro{
    text-align: center;
  }

  .contact-title{
  width: 35px;
  }
}

@media screen and (min-width: 270px) and (max-width:  400px) and (max-height:  750)
  {
    .right-about .text .story{
    display: none;
  }
}

@media screen and (min-width: 401px) and (max-width: 700px){
  .homepage{
    height: auto;
  }

  .portfolio h3 {
    display: none;
  }

  .right h1{
    font-size: 3em;
    line-height: 35px;
  }

  .about-signet{
    width: 35px;
  }

  .right-about{
    flex-direction: column;
    padding: 0;
  }

  .right-about img{
    width: 350px;
    height: 350px;
  }

  .right-about .text{
    flex-direction: row;
    padding: 20px;
  }

  .right-about .text p{
    width: auto;
  }

  .right-about .text .story p{
    font-size: .8em;
  }

  .right-about .text .intro{
    text-align: center;
  }

  .languages-content{
    flex-direction: row;
  }

  .contact-title{
  width: 35px;
  }
}

@media screen and (min-width: 701px) and (max-width: 1350px){
  .homepage{
    height: auto;
  }

  .right h1{
    font-size: 7em;
    line-height: 80px;
  }

  .right-about{
    flex-direction: column;
    padding: 0;
  }

  .right-about img{
    width: 350px;
    height: 350px;
  }

  .right-about .text{
    flex-direction: row;
    padding: 22px;
  }

  .right-about .text p{
    width: auto;
  }

  .right-about .text .intro{
    padding-bottom: 20px;
  }

  .right-about .text .story p{
    font-size: .9em;
  }

  .languages-content{
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 0;
  }

  .language{
  margin: 40px;
  }
}

@media screen and (min-width: 1350px){
  .languages-content{
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 100px;
    padding: 0;
  }

  .language{
  margin: 60px;
  }

}
