
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

body{
  background-color: #0e1012;
  color: #fff;
}

/* CURSOR DESIGN AND ANIMATION */
svg{
  width: 60px;
  position: absolute;
  animation: rotation 5s infinite linear;
  pointer-events: none;
  transition: top .3s, left .3s;
  transition-timing-function: ease-out;
  z-index: 1000;
}

@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(-359deg);
  }
}

text{
  font-size: 4em;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  fill: #b74946;
}

/* END OF CURSOR DESIGN AND ANIMATION */

/* NAVBAR DESIGN */
nav{
  width: 100%;

}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navbar a{
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}

.line-horizontal{
  width: 100%;
  background-color: #fff;
  height: 1px;
}

/* END OF NAVBAR DESIGN */

.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
}

section{
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;

}

section:nth-child(3){
  background-color: blue;
}

section:nth-child(4){
  background-color: red;
}

/* DESIGN HOMEPAGE */

.homepage{
  display: flex;
  height: 93vh;
  overflow: hidden;
}

.left{
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.line-vertical{
  height: 100vh;
  width: 1px;
  background-color: white;
}


.empty{
  width: 25%;
}

.right{
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}


.right h1{
  font-weight: 700;
  font-size: 8em;
  line-height:90px;
  text-align: right;
}

.right span{
  padding-top: 5px;
}

.right h1:hover{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
}

/* END OF DESIGN HOMEPAGE */

.about{
  display: flex;
  width: 100vw;
}

.left-about{  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-signet{
  width: 80px;
}

.about-signet h3{
  transform: rotate(-90deg);
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 10px;
}

.line-vertical-two{
  height: 100vh;
  width: 1px;
  background-color: white;
}

.right{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95vw;
}

.right .image{
  margin: 60px;
}

.right .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
  text-align: justify;
  
}

.right .text h3{
  padding-bottom: 20px;
}

